body {
    background: #10101a;
}

.svg-contact {
    height: 75vh;
}

.contact-form {
    width: 30vw;
}

/* Projects styles */

#projects {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
    color: white;
}

#projects h3 {
    color: #0af9c1;
}

#projects h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

.box {
    background-color: #000;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#projects img {
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--light-slate);
    border-top: 1px solid var(--light-slate);
    border-radius: 15px;
    padding: 0.7rem;
}

@media (min-width: 800px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    #projects img {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }

    #projects ul {
        justify-content: flex-end;
    }
}